@import '@senyumku-ui-web/typography/scss';
@import '@senyumku-ui-web/spacing/scss';
@import '@senyumku-ui-web/shape/scss';
@import './variables';

@mixin amb-create-tips-classes() {
  .Tips {
    background-color: $amb-tips-background-color;
    border: $amb-tips-border;
    font-size: amb-font-size('xsmall');
    padding: amb-spacing('base');
    border-radius: amb-border-radius('base');

    &-link {
      color: $amb-tips-link-color;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
